/*This is my SSB Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my SSB Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #404040;
  background-image: url("images/bg5.jpeg"); 
  background-size: cover;
  background-attachment: fixed;
	
}

.center {
    width: 90%;
	min-width: 300px;
	padding: 2%;
    margin: 100px auto;
 	/*background: rgba(105, 62, 112, 0.499); this uses opacity of 75% for the background color*/
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

   
#logo {
	width: 60%;
	max-width: 500px;
	margin-top: 0px;
	margin-bottom: 50px;
	text-align: center;
	border-radius: 90px;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 5em;
	margin-top: 40px;
    margin: 0px auto 10px auto;
    color: #504852;
	font-family: 'Abril Fatface';
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 1.6em;
    line-height: 1.4;
    color: rgba(14, 3, 34, 0.857);
    padding: 25px 0px;
    margin: 0px auto 10px auto;
	font-family: 'Poppins', sans-serif;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 1.4em;
    line-height: 1.6;
    color: rgba(14, 3, 34, 0.857);
	font-family: 'Poppins', sans-serif;
}

/*.topNav{
	display: inline-block;
	border: 10 px solid blue;
	align-items: center;
}*/

nav {
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
	width: 100%;
	margin: 0 auto;
	/*border: solid;*/
	color:rgba(14, 3, 34, 0.857);
	margin-top: 2em;
}
 nav li{
	display: inline;
	padding: 10px;

 }
    
 nav a{
	display: inline-block;
	padding: 10px;
 }
    
 nav a{
	color:rgba(3, 30, 34, 0.857);
	text-decoration: none;
	border: solid;
 }
 
 nav a:hover{
	color:rgb(105, 62, 112);
	background: rgb(152, 129, 152);
 }

@media only screen and (max-width: 480px) {
h1{
	font-size: .5em;
	line-height: 1.5em;
}
h2{
	font-size: 1em;
	line-height: 1.5em;
}
}


	/* #primary_nav_wrap
	{
		margin-top:15px
	}

	#primary_nav_wrap ul
	{
		list-style:none;
		position:relative;
		float:left;
		margin:0;
		padding:0
	}

	#primary_nav_wrap ul a
	{
		display:block;
		color:#333;
		text-decoration:none;
		font-weight:700;
		font-size:1em;
		line-height:32px;
		padding:0 30px;
	}

	#primary_nav_wrap ul li
	{
		position:relative;
		float:left;
		margin:0;
		padding:0;
	}

	#primary_nav_wrap ul li.current-menu-item
	{
		background: None;
	}

	#primary_nav_wrap ul li:hover
	{
		background:#f6f6f6
	}

	#primary_nav_wrap ul ul
	{
		display:none;
		position:absolute;
		top:100%;
		left:0;
		background:#fff;
		padding:0
	}

	#primary_nav_wrap ul ul li
	{
		float:none;
		width:200px
	}

	#primary_nav_wrap ul ul a
	{
		line-height:120%;
		padding:10px 15px
	}

	#primary_nav_wrap ul ul ul
	{
		top:0;
		left:100%
	}

	#primary_nav_wrap ul li:hover > ul
	{
		display:block
	} */
	
	
	@mixin clearfix {
		&:after {
		display: table;
		clear: both;
		}
		}
		html {
		box-sizing: border-box;
		}
		*, *:before, *:after {
		box-sizing: inherit;
		}
		
		body {
		background-color: rgb(0, 0, 0);
		min-height: 100%;
		}
		
		a {
		text-decoration: none;
		color: inherit
		}
		
		.main-header {
		background-color: rgba(172, 147, 172, 0.719);
		padding: 5px 40px 10px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		}
		@media (min-width: 1025px) {
		.main-header {
		flex-direction: row;
		justify-content: space-between;
		}
		}
		
		.name {
		color: white;
		font-size: 1.35em;
		margin: 0;
		}
		a {
		text-align: center;
		display: block;
		padding: 10px 15px;
		}
		
		.main-nav {
		margin: 0;
		list-style-type: none;
		display: flex;
		}
		a {
		text-align: center;
		display: inline-block;
		padding: 10px 15px;
		font-size: .95em;
		color:  #3b283e;
		text-transform: uppercase;
		}
		a:hover{
			text-decoration: underline;
		}
  #profile{
	width: 60%;
	max-width: 500px;
	margin-top: 0px;
	margin-bottom: 50px;
	text-align: center;
	border-radius: 200px;
  }


   /* Code for cards */

/* sets everything to zero */

* {
    margin: 0;
    padding: 0;
  }
 
  .cardphoto img {
    display: block;
    max-width: 100%; /* makes image responsive if needed but makes sure it doesn't stretch */
  }
 
  /* make the Section class cards here.  */
 
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
 
  /* make the card flex. The default is row so change flex direction to vertical. */
  .card {
    background-color: rgb(156, 155, 155);
    display: flex;
    flex-direction: column;
    margin: 40px;
    min-width: 250px;
    max-width: 350px;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
  }
  .card:hover {
    transition: all 0.1s ease-in;
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
 
  .cardphoto {
    max-height: 250px;
    overflow: hidden;
  }
 
  .cardarticle {
    padding: 2.5rem;
    flex-grow: 1;
  }
 
  /* typography */
  .cardH1 {
    font-size: 2rem;
    margin: 0;
    color: rgb(0, 0, 0);
  }
 
  .card p {
    font-size: 1rem;
    line-height: 1.5;
  }
 
  .card footer {
    font-size: 1.2rem;
    font-weight: bold;
    color: #191919;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }

  h3{
      color:#444;
  }
 
  .card p {
      color: rgb(0, 0, 0);
  }
