/*This is my SSB Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my SSB Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #404040;
  background-image: url("images/bg5.jpeg"); 
  background-size: cover;
  background-attachment: fixed;
	
}
.topNav{
	background-color: black;
}
.center {
    width: 90%;
	min-width: 300px;
	padding: 2%;
    margin: 100px auto;
 	/*background: rgba(105, 62, 112, 0.499); this uses opacity of 75% for the background color*/
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

   
#logo {
	width: 320px;
	margin-top: 10px;
	margin-bottom: 50px;
	text-align: center;
	border-radius: 20px;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 5em;
	font-weight: bolder;
	margin-top: 3em;
    margin: 0px auto 10px auto;
    color: #615B62;
	font-family: 'Merriweather', serif;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 2em;
    line-height: 1.4;
    color: rgba(14, 3, 34, 0.857);
    padding: 15px 0px;
    margin: 0px auto 10px auto;
	font-family: 'Poppins', sans-serif;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 1.2em;
    line-height: 1.6;
    color: rgba(14, 3, 34, 0.857);
	font-family: 'Poppins', sans-serif;
}

nav {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	width: 60%;
	margin: 0 auto;
	/*border: solid;*/
	color:rgba(14, 3, 34, 0.857);
	margin-top: 2em;
}
 nav li{
	display: inline;
	padding: 10px;

 }
    
 nav a{
	display: inline-block;
	padding: 10px;
 }
    
 nav a{
	color:rgba(3, 30, 34, 0.857);
	text-decoration: none;
	border: solid;
 }
 
 nav a:hover{
	color:rgb(105, 62, 112);
	background: rgb(152, 129, 152);
 }

@media only screen and (max-width: 480px) {
h1{
	font-size: .5em;
	line-height: 1.5em;
}
h2{
	font-size: 1em;
	line-height: 1.5em;
}
}
